.parallax {
    min-height: 1100px;

    background: url("../assets/mustacheBackdrop.jpg") no-repeat fixed center;
    background-size: cover;
}

@media only screen and (max-width: 992px) {
    #bio-header {
        font-size: 50pt !important;
    }
}

@media only screen and (max-width: 634px) {
    #bio-header {
        font-size: 30pt !important;
    }
}